<div class='palm-body-text'>
    <h2>How to Play</h2>
</div>

<table id='howto' class='palm-divider labeled'>
    <tbody>
        <tr>
            <td class='left'</td>
            <td class='label'>Video How-to</td>
            <td class='right'></td>
        </tr>
    </tbody>
</table>
<div class='palm-body-text'>
<b><a href='http://www.youtube.com/watch?v=A4Sw52S6k5g'>Youtube Video - Click Here to Watch</a></b><br/><br/>
Click on the video to watch it with the youtube app. This video goes through this how-to and also shows many games being played which can be a big help to understand how the game functions. NOTE: The video does not go over online puzzles.
</div>

<table id='howto' class='palm-divider labeled'>
    <tbody>
        <tr>
            <td class='left'</td>
            <td class='label'>Object of the Game</td>
            <td class='right'></td>
        </tr>
    </tbody>
</table>
<div class='palm-body-text'>
The object of the game is to set all squares to "0". Once you do, you win!
</div>

<table id='howto' class='palm-divider labeled'>
    <tbody>
        <tr>
            <td class='left'</td>
            <td class='label'>How it Works</td>
            <td class='right'></td>
        </tr>
    </tbody>
</table>
<div class='palm-body-text'>
    When you click on a square, the number of that square and the adjacent squares will decrease by 1. So if the number is 3, it will become 2 and so on and so forth. But if the number is 0, it will change back to 3 and will continue to decrease normally if clicked again.
</div>

<center>
<table width='265px'>
    <tr>
        <td class="click">A</td>
        <td class="click">B</td>
        <td class="click">C</td>
        <td class="click">D</td>
        <td class="click">E</td>
    </tr>
    <tr>
        <td class="click">F</td>
        <td class="click">G</td>
        <td class="click">H</td>
        <td class="click">I</td>
        <td class="click">J</td>
    </tr>
     <tr>
        <td class="click">K</td>
        <td class="click">L</td>
        <td class="click">M</td>
        <td class="click">N</td>
        <td class="click">O</td>
    </tr>
</table>
</center>
<div class='palm-body-text'>
Each click on a square affects the adjacent squares as well. So if you press the A square(referring to the above figure), the A, B, and F squares will change value. If you press the H square, the H, C, G, I, <i>and</i> M squares will change value. 
</div>
<table id='howto' class='palm-divider labeled'>
    <tbody>
        <tr>
            <td class='left'</td>
            <td class='label'>Getting Started</td>
            <td class='right'></td>
        </tr>
    </tbody>
</table>
<div class='palm-body-text'>
To get started, click on a difficulty from the main screen. We recommend starting with beginner until you get the hang of the game. 
</div>
<table id='howto' class='palm-divider labeled'>
    <tbody>
        <tr>
            <td class='left'</td>
            <td class='label'>What the Buttons Do</td>
            <td class='right'></td>
        </tr>
    </tbody>
</table>
<div class='palm-body-text'>
When playing the game, there are three buttons at the bottom of the screen. From left to right they are: "Undo", "Restart", and "New Game". The "Undo" button undoes your last move while the "Restart" button restarts your current game. Finally, the "New Game" button is for a brand new game if you don't feel like playing or are unable to beat your current game.
</div>
<table id='howto' class='palm-divider labeled'>
    <tbody>
        <tr>
            <td class='left'</td>
            <td class='label'>The Number in the Corner</td>
            <td class='right'></td>
        </tr>
    </tbody>
</table>
<div class='palm-body-text'>
You may have noticed a small number in the top-right corner (Pre only, sorry Pixi users). This number is the number of games you have completed in one sitting. When you pick a new difficulty, the number resets. The game also keeps track of all the puzzles you've played and you can access that information in the "Personal Records" page.
</div>
<table id='howto' class='palm-divider labeled'>
    <tbody>
        <tr>
            <td class='left'</td>
            <td class='label'>Tips and Tricks</td>
            <td class='right'></td>
        </tr>
    </tbody>
</table>
<div class='palm-body-text'>
Here's some tips (hidden for those that don't like tips):
</div>
<button class="palm-button" id="MainButton">Show Tips/Tricks</button>
<div id='drawer' x-mojo-element="Drawer">
<div class='palm-body-text'>
<ul >
    <li>The hint feature will show what button you should press first. Enable it in the preferences menu. (Note: Colors have to be disabled to use the hint feature, a coming update will change that)</li>
    <li>Try and start from the edges and work in.</li>
    <li>If you start from one edge and work your way in and you find yourself clicking and clicking with no end, press the refresh button and try again from another corner/edge.</li>
    <li>Don't be afraid to change a zero-especially if it is in the middle of a bunch of 1's, 2's, or 3's.</li>
</ul>
</div>
</div>

<table id='howto' class='palm-divider labeled'>
    <tbody>
        <tr>
            <td class='left'</td>
            <td class='label'>Lights Out Mode</td>
            <td class='right'></td>
        </tr>
    </tbody>
</table>
<div class='palm-body-text'>
The lights out mode is a little different from the normal (classic) mode. Instead of numbers going from 3 --> 2 --> 1 --> 0 --> 3, there are two stages for each button, ON, or OFF. On is yellow, off is grey. The object of lights out mode is to turn off all the lights.
</div>

<table id='howto' class='palm-divider labeled'>
    <tbody>
        <tr>
            <td class='left'</td>
            <td class='label'>Puzzle of the Day</td>
            <td class='right'></td>
        </tr>
    </tbody>
</table>
<div class='palm-body-text'>
You probably noticed the section on the main page called "Puzzle of the Day". This puzzle is a user-submitted puzzle (see "PuzzleMaker" below) that has been approved by us.
<img src='images/puzzleofday.PNG'/>When looking at the main puzzle of the day, you are presented with various information. It tells you: the title, the author, the current high score, and the difficulty. If you click on the puzzle you will be begin playing the Puzzle of the Day. The goal is to complete the puzzle and try and get a high score, or tie the high score. The number of high scores you have gotten are visible in the personal records page (see "Personal Records" below). <br/><br/>

The puzzle of the day mode looks a little different. In the top right corner, it shows the number of clicks you have taken next to the current high score. There is also no longer a "New Game" button at the bottom.
</div>

<table id='howto' class='palm-divider labeled'>
    <tbody>
        <tr>
            <td class='left'</td>
            <td class='label'>My Favorite Puzzles</td>
            <td class='right'></td>
        </tr>
    </tbody>
</table>
<div class='palm-body-text'>
At the bottom of the main screen is a section called "My Favorite Puzzles" (it won't show up unless you have favorited a puzzle, or saved one from PuzzleMaker). You can favorite any puzzle by tapping on the app menu in the top left corner. From there click "Favorite this Puzzle", name the puzzle, and then save it. Now that you have saved your puzzle, go back to the main screen and scroll down to "My Favorite Puzzles". You can tap on your puzzle and play it!
<br/><br/>
You can also save Puzzles of the Day to play later! (although you won't get points for completing it via the "My Favorite Puzzles" section)
</div>

<table id='howto' class='palm-divider labeled'>
    <tbody>
        <tr>
            <td class='left'</td>
            <td class='label'>PuzzleMaker</td>
            <td class='right'></td>
        </tr>
    </tbody>
</table>
<div class='palm-body-text'>
In the application menu there is a option to go to the "PuzzleMaker" page. From this page you can create your own puzzle and send them to our team. Each time you click, it will <i>increase</i> the squares, not decrease as when solving the puzzles.
</div>

<table id='howto' class='palm-divider labeled'>
    <tbody>
        <tr>
            <td class='left'</td>
            <td class='label'>PuzzleMaker Submissions</td>
            <td class='right'></td>
        </tr>
    </tbody>
</table>
<div class='palm-body-text'>
Your PuzzleMaker submissions are directly uploaded to our server. You can rate those submissions by pressing the button at the bottom-left of the screen on the main page. Then you can begin submitting your feedback on the submitted puzzles by pressing the "thumbs up" or "thumbs down" buttons. You can press the "next" area to not vote on the puzzle that appeared.
</div>

<table id='howto' class='palm-divider labeled'>
    <tbody>
        <tr>
            <td class='left'</td>
            <td class='label'>Personal Records</td>
            <td class='right'></td>
        </tr>
    </tbody>
</table>
<div class='palm-body-text'>
If you click the application menu, you can access a page called the "Personal Records" page. This page shows how many games you have played and how many you won. It also tells you what highscores you have achieved. Note: A "Played" game is one that is skipped or won. The game does not count a "Played" game if you quit or exit the application. It also gives you a completion of apps started percentage. If you click on the number of games played, games beaten, or on the completion percentage of Puzzles of the Day, it will expand and tell you how many by difficulty.
</div>

<table id='howto' class='palm-divider labeled'>
    <tbody>
        <tr>
            <td class='left'</td>
            <td class='label'>Preferences</td>
            <td class='right'></td>
        </tr>
    </tbody>
</table>
<div class='palm-body-text'>
Something else in the application menu is the "Preferences" page. Here you can hide/show the difficulties and puzzle of the day modes on the main screen.
You can also enable/disable the "hint" mode which will show you what square to start with when playing the game.
From the preferences page, you can change how the game looks. You can add or remove colors and numbers, although you have to leave one enabled to be able to be able to play. More theme customization is coming soon!</div>
<table id='howto' class='palm-divider labeled'>
    <tbody>
        <tr>
            <td class='left'</td>
            <td class='label'>Future Updates</td>
            <td class='right'></td>
        </tr>
    </tbody>
</table>
<div class='palm-body-text'>
Items/Features planned for future releases:
<ul id="id">
    <li>Unlockables... You'll just have to find them!</li>
    <li>Different game sizes. It will be configurable in PuzzleMaker as well!</li>
    <li>Customizable Game Themes</li> 
    <li>[InsertYourIdeaHere]. Seriously, we want your feedback and advice so send us an email! Our contact email address is listed on the help page.</li>
</ul>
</div>