<div style='padding-left: 5px' class='palm-dialog-title'>Favorite Puzzle</div>
<div class='palm-dialog-separator'></div>
<div class="palm-dialog-content" style='margin: 0px 10px'>
<div class="textfield-group" x-mojo-focus-highlight="true">
	<div class="title">
            <div id="textField" name="ssid_widget" x-mojo-element="TextField"></div>
	</div>	
     </div>
</div>
<button id="sendButton" class="palm-button" x-mojo-tap-highlight="momentary">Save</button>
<button id="closeButton" class="palm-button secondary" x-mojo-tap-highlight="momentary">Cancel</button>
