<div class="palm-page-header multi-line">
   <div class="palm-page-header-wrapper">
        <div class="title left">Personal Records</div>
    </div>
</div>
<div class='palm-group'>
    <div class='palm-group-title'>My Score</div>
    <div class='palm-list'>
		<div class='palm-row single' id='myscore' x-mojo-tap-highlight="momentary">
			<div class='palm-row-wrapper'>
				<div class="title left truncating-text">
					<span id='myscoreyo'>My Score</span><span id='score' style='float:right'>0</span><br/>
				</div>                   
			</div>				
		</div>
    </div>
</div>
<div class='palm-group'>
    <div class='palm-group-title'>Classic Mode</div>
    <div class='palm-list'>
	<div class='palm-row first' id='beaten'  x-mojo-tap-highlight="momentary">
                <div class='palm-row-wrapper'>
			<div class="title left truncating-text">
			    Games Won <span style='float:right' id='gamesbeaten'>0</span>
			<div id='listDrawerBeaten' x-mojo-element="Drawer">
                            <div class='palm-row last'>
                            <div class='palm-row-wrapper'>
                        	<div class="title left truncating-text">
                                                Beginner <span id='bw' style='float:right'>0</span><br/>
                                                Eager Beaver <span id='ebw' style='float:right'>0</span><br/>
                                                Intermediate <span id='iw' style='float:right'>0</span><br/>
                                                Challenger <span id='cw' style='float:right'>0</span><br/>
                                                Expert <span id='ew' style='float:right'>0</span><br/>
                                                <span id='masterw'>Master<span id='mw' style='float:right'>0</span></span>
                                	</div>
                                </div>
                            </div>                   
                        </div>
                        
                        </div>
                </div>
        </div>
            
	<div class='palm-row' id='played'  x-mojo-tap-highlight="momentary">
                <div class='palm-row-wrapper' >
			<div class="title left truncating-text">
			    Games Played <span style='float:right' id='gamesplayed'>0</span>
                                <div id='listDrawer' x-mojo-element="Drawer">
                                    <div class='palm-row last'>
                                    <div class='palm-row-wrapper'>
                                    	<div class="title left truncating-text">
                                                Beginner <span id='b' style='float:right'>0</span><br/>
                                                Eager Beaver <span id='eb' style='float:right'>0</span><br/>
                                                Intermediate <span id='i' style='float:right'>0</span><br/>
                                                Challenger <span id='c' style='float:right'>0</span><br/>
                                                Expert <span id='e' style='float:right'>0</span><br/>
                                                 <span id='master'>Master<span id='m' style='float:right'>0</span></span>
                        		</div>
                                    </div>
                                </div>                   
                            </div>
			</div>
                </div>
        </div>
        
        <div class='palm-row last'>
                <div class='palm-row-wrapper'>
			<div class="title left truncating-text">
			    Completion Percentage<span style='float:right' id='completion'>0</span>                  
                            </div>
			</div>
                </div>
        </div>
           
    </div>

<div class='palm-group'>
    <div class='palm-group-title'>Lights Out Mode</div>
    <div class='palm-list'>
	<div class='palm-row first' id='beatenl'  x-mojo-tap-highlight="momentary">
                <div class='palm-row-wrapper'>
			<div class="title left truncating-text">
			    Games Won <span style='float:right' id='gamesbeatenl'>0</span>
			<div id='listDrawerBeatenl' x-mojo-element="Drawer">
                            <div class='palm-row last'>
                            <div class='palm-row-wrapper'>
                        	<div class="title left truncating-text">
                                                Beginner <span id='bwl' style='float:right'>0</span><br/>
                                                Eager Beaver <span id='ebwl' style='float:right'>0</span><br/>
                                                Intermediate <span id='iwl' style='float:right'>0</span><br/>
                                                Challenger <span id='cwl' style='float:right'>0</span><br/>
                                                Expert <span id='ewl' style='float:right'>0</span><br/>
                                                <span id='masterwl'>Master<span id='mwl' style='float:right'>0</span></span>

                                	</div>
                                </div>
                            </div>                   
                        </div>
                        
                        </div>
                </div>
        </div>
            
	<div class='palm-row' id='playedl'  x-mojo-tap-highlight="momentary">
                <div class='palm-row-wrapper'>
			<div class="title left truncating-text">
			    Games Played <span style='float:right' id='gamesplayedl'>0</span>
                                <div id='listDrawerl' x-mojo-element="Drawer">
                                    <div class='palm-row last'>
                                    <div class='palm-row-wrapper'>
                                    	<div class="title left truncating-text">
                                                Beginner <span id='bl' style='float:right'>0</span><br/>
                                                Eager Beaver <span id='ebl' style='float:right'>0</span><br/>
                                                Intermediate <span id='il' style='float:right'>0</span><br/>
                                                Challenger <span id='cl' style='float:right'>0</span><br/>
                                                Expert <span id='el' style='float:right'>0</span><br/>
                                                <span id='masterl'>Master<span id='ml' style='float:right'>0</span></span>
                        		</div>
                                    </div>
                                </div>                   
                            </div>
			</div>
                </div>
        </div>
        
        <div class='palm-row last'>
                <div class='palm-row-wrapper'>
			<div class="title left truncating-text">
			    Completion Percentage<span style='float:right' id='completionl'>0</span>                  
                            </div>
			</div>
                </div>
        </div>
           
    </div>
<button class="palm-button negative" id="MainButton">Reset Records</button>
