<div class="palm-page-header multi-line">
    <div class="palm-page-header-wrapper">
        <div  class="title left">About Countdown</div>
    </div>
 </div>
<div style='padding-top:.5em' class='palm-body-text'>
    Countdown is a FREE and open source application. There will NEVER be a cost to play. There will NEVER be ads in this fully featured version. As there is no cost and no ads, we are not gaining revenue from this application. If you enjoy this app and enjoy ad-free and cost-free applications,
    please consider donating.
    <br/><br/>
    
    <a href='https://www.paypal.com/cgi-bin/webscr?cmd=_donations&business=HBHEAGPU2382A&lc=US&item_name=Tibfib%20webOS%20Applications&currency_code=USD&bn=PP%2dDonationsBF%3abtn_donate_LG%2egif%3aNonHosted'><img src='https://www.paypal.com/en_US/i/btn/btn_donate_LG.gif'/></a>
    <br/><br/>Thanks!<br/><br/>
    
    This application was developed by Tibfib of <a href='http://tibfib.com'>www.tibfib.com</a>.<br/><br/>Feel free to contact us at <a href='mailto:tibfib1@gmail.com'>tibfib1@gmail.com</a> with ideas or if you need support.
    <br/><br/>
    Special thanks to <a href='http://forums.precentral.net/members/remix2000.html'>remix2000</a> of <a href='http://precentral.net'>Precentral.net</a> for the Countdown icon.  
</div>